<header class="header">
    <div class="wrap">
        <a href="/" class="logo">
            <img src="{{ url('<front>') }}themes/custom/fashion/assets/img/logo.png" width="162" alt="Fashion/Style" />
        </a>
        <span class="filters-toggle js-toggle-filters">Filters</span>
        <ul class="main-nav">
            <li>
                <a href="{{ url('<front>') }}products/woman">Women</a>
                <div class="nav-submenu">
                    <div class="wrap">
                        <a class="nav-submenu-item" href="{{ url('<front>') }}products/woman?subcategory=tee-shirt">
                            Tee-shirt
                        </a>
                        <a class="nav-submenu-item" href="{{ url('<front>') }}products/woman?subcategory=sweat-shirt">
                            Sweat-shirt
                        </a>
                        <a class="nav-submenu-item" href="{{ url('<front>') }}products/woman?subcategory=jogging">
                            Jogging
                        </a>
                        <a class="nav-submenu-item" href="{{ url('<front>') }}products/woman?subcategory=jacket">
                            Jacket
                        </a>
                        <a class="nav-submenu-item" href="{{ url('<front>') }}products/woman?subcategory=accessories">
                            Accessories
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <a href="{{ url('<front>') }}products/man">Men</a>
            </li>
            <li>
                <a href="{{ url('<front>') }}products/kids">Kids</a>
            </li>
        </ul>
        <div class="header-actions">
            <ul>
                <li class="subnav-desktop">
                    <a href="javascript:;" class="js-subnav-toggle">
                        ...
                    </a>
                </li>
                <li class="search-link">
                    <a href="javascript:;" class="js-search-toggle">
                        <i class="icon font-ico-search"></i>
                    </a>
                    <div class="header-search">
                        <div class="wrap">
                            <form action="" method="post">
                                <div class="search-form">
                                    <input type="text" name="search-form" />
                                    <button class="btn btn-black btn-big" type="submit">Search</button>
                                </div>
                            </form>
                            <div class="search-suggestions block">
                                <h6><i class="icon font-ico-arrow-right"></i> Suggestions</h6>
                                <ul>
                                    <li>
                                        <a href="javascript:;">
                                            <img src="{{ url('<front>') }}themes/custom/fashion/assets/img/content/suggestion-01.jpg" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <img src="{{ url('<front>') }}themes/custom/fashion/assets/img/content/suggestion-02.jpg" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <img src="{{ url('<front>') }}themes/custom/fashion/assets/img/content/suggestion-03.jpg" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <img src="{{ url('<front>') }}themes/custom/fashion/assets/img/content/suggestion-04.jpg" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <img src="{{ url('<front>') }}themes/custom/fashion/assets/img/content/suggestion-05.jpg" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <img src="{{ url('<front>') }}themes/custom/fashion/assets/img/content/suggestion-06.jpg" alt="">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="basket-link">
                    <a href="{{ url('<front>') }}checkout" class="js-basket-subnav-toggle">
                        <i class="icon font-ico-basket"></i>
                        <span class="basket-items">{{ cart }}</span>
                    </a>
                    <div class="basket-subnav header-subnav">
                        <a href="{{ url('<front>') }}checkout" class="logo">
                            <img src="{{ url('<front>') }}themes/custom/fashion/assets/img/logo.png" width="162" alt="Fashion/Style">
                        </a>
                        <span class="close-subnav js-close-subnav"><i class="icon font-ico-close"></i></span>
                    </div>
                </li>
                <li class="profile-link">
                    <a href="javascript:;" class="js-login-subnav-toggle">
                        <i class="icon font-ico-profile"></i>
                    </a>
                    <div class="login-subnav header-subnav">
                        <span class="close-subnav js-close-subnav"><i class="icon font-ico-close"></i></span>
                        <div class="login-form-wrap">
                            <h3>Log in</h3>
                            <h6>Manage your orders, newsletter are like saving shipping address...</h6>
                            <div class="login-form clearfix">
                                <h6>Don't have an account?</h6>
                                <a class="btn btn-big create-account-btn" href="javascript:;">Create an account</a>
                                <h6>Log in</h6>
                                <div class="form-item form-item-full">
                                    <input class="form-item-text" type="text" name="" placeholder="E-mail address">
                                </div>
                                <div class="form-item form-item-full">
                                    <input class="form-item-text" type="password" name="" placeholder="Password">
                                </div>
                                <a class="forgot-password" href="javascript:;">Forgot your password?</a>
                                <a class="btn btn-black btn-big login-btn" href="javascript:;">Log in</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="currency-language">
                    <a href="javascript:;" class="cl-toggle js-cl-toggle">
                        <span class="c-label">€</span><span class="l-label">FR</span>
                    </a>
                    <div class="cl-dropdown">
                        <div class="c-dropdown">
                            <label for="currency">choose currency</label>
                            <select name="" id="currency" class="c-dropdown">
                                <option value="">€ EUR</option>
                                <option value="">£ Pound</option>
                            </select>
                        </div>
                        <div class="l-dropdown">
                            <label for="language">choose language</label>
                            <div class="select-list">
                                <span class="selected"><img src="themes/custom/fashion/assets/svg/ico-flag-uk.svg" alt="English flag">English</span>
                                <div class="dest-dropdown js-dest-overlay">
                                    <ul>
                                        <li><span class="primary"><img src="themes/custom/fashion/assets/svg/ico-flag-uk.svg" alt="English flag">English</span></li>
                                        <li><span class="primary"><img src="themes/custom/fashion/assets/svg/ico-flag-belgium.svg" alt="Belgium flag">Belgium</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="menu-toggle-wrap">
                    <a class="menu-toggle js-subnav-toggle" href="javascript:;">
                        <span class="hamburger"></span>
                    </a>
                    <div class="subnav header-subnav">
                        <div class="subnav-links">
                            <ul>
                                <li>
                                    <a href="javascript:;">About us</a>
                                </li>
                                <li>
                                    <a href="javascript:;">Edito</a>
                                </li>
                                <li>
                                    <a href="javascript:;">Events</a>
                                </li>
                                <li>
                                    <a href="javascript:;">Collabs</a>
                                </li>
                                <li>
                                    <a href="javascript:;">Store</a>
                                </li>
                                <li>
                                    <a href="javascfript:;">Jobs</a>
                                </li>
                                <li>
                                    <a href="javascfript:;">Contact</a>
                                </li>
                                <li>
                                    <a href="javascfript:;">Professionals</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</header>