{% include directory ~ '/header.html.twig' %}
<div class="content block">
    <div class="block breadcrumbs mob-only">
        <h1>Women</h1>
        <div class="category-overlay">
            <ul class="category">
                <li>
                    <a href="javascript:;" class="active">woman</a>
                </li>
                <li>
                    <a href="javascript:;">man</a>
                </li>
                <li>
                    <a href="javascript:;">kids</a>
                </li>
                <li class="btn-close js-close-category">
                    <a href="javascript:;">
                        <i class="icon font-ico-close"></i>
                    </a>
                </li>
            </ul>
            <ul class="sub-category">
                <li class="selected">
                    <a href="javascript:;">Sweat-shirt</a>
                </li>
                <li>
                    <span>Lorem ipsum</span>
                </li>
                <a href="javascript:;" class="category-toggle js-category-toggle"></a>
            </ul>
        </div>
        <div class="filter-sort">
            <i class="icon font-ico-sort"></i>
            <select name="" id="">
                <option value="">Sort by Suggestions</option>
                <option value="">lorem</option>
                <option value="">ipsum</option>
                <option value="">dolor</option>
            </select>
        </div>
    </div>

    <div class="block product-page-shop">
        <a class="back-link" href="product-overvirew.html"><i class="icon font-ico-arrow-left"></i> Back to products</a>
        <div class="product-image">
            <div class="img-wrap">
                <img class="full-width" src="../{{ directory }}/assets/img/content/{{ product.getImg }}" alt="">
						<span class="img-ratio">
							<span>image size <span>690x862</span></span>
							<span>Ratio <span>800x1000</span></span>
						</span>
            </div>
        </div>
        <div class="product-details">
            <div class="block">
                <h1 class="product-name">{{ product.getName }}</h1>
                <span class="product-price">{{ product.getPrice }}</sup></span>
                <div class="product-description">
                    <div class="tabbed">
                        <ul class="tabs clearfix">
                            <li class="active">
                                <span class="tab-head">Description</span>
                            </li>
                            <li>
                                <span class="tab-head">Composition</span>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab active">
                                <p> {{ product.getDescription }}</p>
                            </div>
                            <div class="tab">
                                <p> {{ product.getComposition }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block product-colors">
                <span class="selected-color">Selected color: <span class="color-name">orange</span></span>
                <ul class="clearfix">
                    <li class="selected">
                        <a href="javascript:;" data-color="orange">
                            <img src="../{{ directory }}/assets/img/content/product-colors/color-orange.png" alt="">
                        </a>
                    </li>
                    <li class="disabled">
                        <a href="javascript:;" data-color="brown light">
                            <img src="../{{ directory }}/assets/img/content/product-colors/color-brown-light.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" data-color="grey smoke">
                            <img src="../{{ directory }}/assets/img/content/product-colors/color-grey-smoke.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" data-color="white smoke">
                            <img src="../{{ directory }}/assets/img/content/product-colors/color-white-smoke.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" data-color="green blue">
                            <img src="../{{ directory }}/assets/img/content/product-colors/color-green-blue.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" data-color="dark blue">
                            <img src="../{{ directory }}/assets/img/content/product-colors/color-dark-blue.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" data-color="dark grey">
                            <img src="../{{ directory }}/assets/img/content/product-colors/color-dark-grey.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" data-color="light blue">
                            <img src="../{{ directory }}/assets/img/content/product-colors/color-light-blue.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" data-color="gravel">
                            <img src="../{{ directory }}/assets/img/content/product-colors/color-gravel.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" data-color="gravel dark">
                            <img src="../{{ directory }}/assets/img/content/product-colors/color-gravel-dark.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" data-color="dark wood">
                            <img src="../{{ directory }}/assets/img/content/product-colors/color-dark-wood.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" data-color="wood">
                            <img src="../{{ directory }}/assets/img/content/product-colors/color-wood.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" data-color="red">
                            <img src="../{{ directory }}/assets/img/content/product-colors/color-red.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" data-color="blood red">
                            <img src="../{{ directory }}/assets/img/content/product-colors/color-blood-red.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" data-color="dark red">
                            <img src="../{{ directory }}/assets/img/content/product-colors/color-dark-red.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" data-color="brushed metal">
                            <img src="../{{ directory }}/assets/img/content/product-colors/color-brushed-metal.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" data-color="mineral blue">
                            <img src="../{{ directory }}/assets/img/content/product-colors/color-mineral-blue.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" data-color="sky blue">
                            <img src="../{{ directory }}/assets/img/content/product-colors/color-sky-blue.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" data-color="sea blue">
                            <img src="../{{ directory }}/assets/img/content/product-colors/color-sea-blue.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" data-color="blue">
                            <img src="../{{ directory }}/assets/img/content/product-colors/color-blue.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" data-color="blue medium">
                            <img src="../{{ directory }}/assets/img/content/product-colors/color-blue-medium.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" data-color="teal">
                            <img src="../{{ directory }}/assets/img/content/product-colors/color-teal.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" data-color="darker wood">
                            <img src="../{{ directory }}/assets/img/content/product-colors/color-darker-wood.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" data-color="olive">
                            <img src="../{{ directory }}/assets/img/content/product-colors/color-olive.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" data-color="dark green">
                            <img src="../{{ directory }}/assets/img/content/product-colors/color-dark-green.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" data-color="dirt">
                            <img src="../{{ directory }}/assets/img/content/product-colors/color-dirt.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" data-color="pink">
                            <img src="../{{ directory }}/assets/img/content/product-colors/color-pink.png" alt="">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="block product-sizes">
                <ul>
                    <li class="disabled"><a href="javascript:;">xs</a></li>
                    <li><a href="javascript:;">s</a></li>
                    <li class="selected"><a href="javascript:;">m</a></li>
                    <li><a href="javascript:;">l</a></li>
                    <li><a href="javascript:;">xl</a></li>
                    <li><a href="javascript:;">xxl</a></li>
                </ul>
                <a class="size-guide-link" href="javascript:;">Size guide</a>
                <p>The model is 167cm for 54kg and is wearing a size M.</p>
            </div>
            <div class="block product-basket">
                <a class="btn btn-black btn-big add-to-cart" href="javascript:;">Add to bag</a>
                <div class="right">
                    <p>Is your size or color out of stock?</p>
                    <a href="javascript:;" class="link">Get notified when it’s back</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% include directory ~ '/footer.html.twig' %}
{{ attach_library('product/product') }}