{% include directory ~ '/header.html.twig' %}
<div class="content">
    <div class="block product-filters-wrap">
        <div class="product-filters js-product-filters">
            <span class="close-filter js-close-filter"><i class="icon font-ico-close"></i></span>
            <h3>filters (0)</h3>
            <div class="filter">
                <span class="filter-toggle">Style</span>
                <div class="filter-body">
                    <div class="filter-list clearfix">
                        <ul>
                            <li>
                                <span class="filter-option">Option 1</span>
                            </li>
                            <li>
                                <span class="filter-option">Option 2</span>
                            </li>
                            <li>
                                <span class="filter-option">Option 3</span>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <span class="filter-option">Option 4</span>
                            </li>
                            <li>
                                <span class="filter-option">Option 5</span>
                            </li>
                            <li>
                                <span class="filter-option">Option 6</span>
                            </li>
                        </ul>
                    </div>
                    <a class="btn btn-black apply-filters" href="javascript:;">Apply</a>
                    <a class="reset-filters js-reset-filters" href="javascript:;">Reset filter</a>
                </div>
            </div>
            <div class="filter">
                <span class="filter-toggle">Fitting</span>
                <div class="filter-body">
                    <div class="filter-list clearfix">
                        <ul>
                            <li>
                                <span class="filter-option">Option 1</span>
                            </li>
                            <li>
                                <span class="filter-option">Option 2</span>
                            </li>
                            <li>
                                <span class="filter-option">Option 3</span>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <span class="filter-option">Option 4</span>
                            </li>
                            <li>
                                <span class="filter-option">Option 5</span>
                            </li>
                            <li>
                                <span class="filter-option">Option 6</span>
                            </li>
                        </ul>
                    </div>
                    <a class="btn btn-black apply-filters" href="javascript:;">Apply</a>
                    <a class="reset-filters js-reset-filters" href="javascript:;">Reset filter</a>
                </div>
            </div>
            <div class="filter">
                <span class="filter-toggle">Size</span>
                <div class="filter-body">
                    <div class="filter-list clearfix">
                        <ul>
                            <li>
                                <span class="filter-option size"><span>XS</span> - Extra Small</span>
                            </li>
                            <li>
                                <span class="filter-option size"><span>S</span> - Small</span>
                            </li>
                            <li class="selected">
                                <span class="filter-option size"><span>M</span> - Medium</span>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <span class="filter-option size"><span>L</span> - Large</span>
                            </li>
                            <li>
                                <span class="filter-option size"><span>XL</span> - Extra Large</span>
                            </li>
                        </ul>
                    </div>
                    <a class="btn btn-black apply-filters" href="javascript:;">Apply</a>
                    <a class="reset-filters js-reset-filters" href="javascript:;">Reset filter</a>
                    <a class="size-guide" href="javascript:;">View size guide</a>
                </div>
            </div>
            <div class="filter">
                <span class="filter-toggle">Fabric</span>
                <div class="filter-body">
                    <div class="filter-list clearfix">
                        <ul>
                            <li>
                                <span class="filter-option">Option 1</span>
                            </li>
                            <li>
                                <span class="filter-option">Option 2</span>
                            </li>
                            <li>
                                <span class="filter-option">Option 3</span>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <span class="filter-option">Option 4</span>
                            </li>
                            <li>
                                <span class="filter-option">Option 5</span>
                            </li>
                            <li>
                                <span class="filter-option">Option 6</span>
                            </li>
                        </ul>
                    </div>
                    <a class="btn btn-black apply-filters" href="javascript:;">Apply</a>
                    <a class="reset-filters js-reset-filters" href="javascript:;">Reset filter</a>
                </div>
            </div>
            <div class="filter">
                <span class="filter-toggle">Colors</span>
                <div class="filter-body">
                    <div class="filter-list clearfix">
                        <ul>
                            <li>
                                <span class="filter-option">Option 1</span>
                            </li>
                            <li>
                                <span class="filter-option">Option 2</span>
                            </li>
                            <li>
                                <span class="filter-option">Option 3</span>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <span class="filter-option">Option 4</span>
                            </li>
                            <li>
                                <span class="filter-option">Option 5</span>
                            </li>
                        </ul>
                    </div>
                    <a class="btn btn-black apply-filters" href="javascript:;">Apply</a>
                    <a class="reset-filters js-reset-filters" href="javascript:;">Reset filter</a>
                </div>
            </div>
            <div class="filter">
                <span class="filter-toggle">Patterns</span>
                <div class="filter-body">
                    <div class="filter-list clearfix">
                        <ul>
                            <li>
                                <span class="filter-option">Option 1</span>
                            </li>
                            <li>
                                <span class="filter-option">Option 2</span>
                            </li>
                            <li>
                                <span class="filter-option">Option 3</span>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <span class="filter-option">Option 4</span>
                            </li>
                            <li>
                                <span class="filter-option">Option 5</span>
                            </li>
                            <li>
                                <span class="filter-option">Option 6</span>
                            </li>
                        </ul>
                    </div>
                    <a class="btn btn-black apply-filters" href="javascript:;">Apply</a>
                    <a class="reset-filters js-reset-filters" href="javascript:;">Reset filter</a>
                </div>
            </div>
            <div class="filter-actions block">
                <a class="btn btn-black apply-filters" href="javascript:;">Apply</a>
                <a class="btn reset-filters js-reset-all-filters" href="javascript:;">Reset filters</a>
            </div>
        </div>
    </div>

    <div class="block breadcrumbs">
        <h1>Home</h1>
        <div class="category-overlay">
            <ul class="category">
                <li>
                    <a href="javascript:;" class="active">woman</a>
                </li>
                <li>
                    <a href="javascript:;">man</a>
                </li>
                <li>
                    <a href="javascript:;">kids</a>
                </li>
                <li class="btn-close js-close-category">
                    <a href="javascript:;">
                        <i class="icon font-ico-close"></i>
                    </a>
                </li>
            </ul>
            <ul class="sub-category">
                <li class="selected">
                    <a href="javascript:;">woman</a>
                </li>
                <li>
                    <span>Lorem ipsum</span>
                </li>
                <a href="javascript:;" class="category-toggle js-category-toggle"></a>
            </ul>
        </div>
        <div class="filter-sort">
            <i class="icon font-ico-sort"></i>
            <select name="" id="">
                <option value="">Sort by Suggestions</option>
                <option value="">lorem</option>
                <option value="">ipsum</option>
                <option value="">dolor</option>
            </select>
        </div>
    </div>

    <div class="block product-filters-mobile-wrap">
        <button class="mobile-filter-toggle js-mobile-filter-toggle">Filters (0)</button>
    </div>

    <div class="block products-list">
        <ul class="clearfix">
            {% for key, value in products %}
            <li class="product">
                <div class="product-wrap">
                    <a class="product-thumbnail" href="javascript:;">
                        <img src="../{{ directory }}/assets/img/content/{{ value.img }}" alt="" class="front">
                        <img src="../{{ directory }}/assets/img/content/{{ value.img }}" alt="" class="back">
                    </a>
                    <div class="product-info">
                        <!-- reusable product-colors block from product page -->
                        <div class="product-colors">
                            <ul class="slider-wrap">
                                <li>
                                    <a href="javascript:;" data-color="brown light">
                                        <img src="../{{ directory }}/assets/img/content/product-colors/color-white-smoke.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;" data-color="grey smoke">
                                        <img src="../{{ directory }}/assets/img/content/product-colors/color-dark-blue.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;" data-color="dark blue">
                                        <img src="../{{ directory }}/assets/img/content/product-colors/color-granite.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;" data-color="brown light">
                                        <img src="../{{ directory }}/assets/img/content/product-colors/color-red.png" alt="">
                                    </a>
                                </li>
                                <li class="selected">
                                    <a href="javascript:;" data-color="grey smoke">
                                        <img src="../{{ directory }}/assets/img/content/product-colors/color-orange.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;" data-color="dark blue">
                                        <img src="../{{ directory }}/assets/img/content/product-colors/color-mineral-blue.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;" data-color="brown light">
                                        <img src="../{{ directory }}/assets/img/content/product-colors/color-sea-blue.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;" data-color="grey smoke">
                                        <img src="../{{ directory }}/assets/img/content/product-colors/color-blood-red.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;" data-color="dark blue">
                                        <img src="../{{ directory }}/assets/img/content/product-colors/color-brown-light.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;" data-color="brown light">
                                        <img src="../{{ directory }}/assets/img/content/product-colors/color-gravel-dark.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;" data-color="grey smoke">
                                        <img src="../{{ directory }}/assets/img/content/product-colors/color-grey-smoke.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;" data-color="dark blue">
                                        <img src="../{{ directory }}/assets/img/content/product-colors/color-dark-blue.png" alt="">
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- reusable product-sizes block from product page -->
                        <div class="product-sizes">
                            <ul class="slider-wrap">
                                <li class="disabled" data-size="xs"><a href="javascript:;">xs</a></li>
                                <li><a href="javascript:;" data-size="s">s</a></li>
                                <li class="selected" data-size="m"><a href="javascript:;">m</a></li>
                                <li><a href="javascript:;" data-size="l">l</a></li>
                                <li><a href="javascript:;" data-size="xl">xl</a></li>
                                <li><a href="javascript:;" data-size="xxl">xxl</a></li>
                            </ul>
                        </div>
                        <a href="javascript:;" class="add-cart btn btn-black" data-id="{{ value.id }}">add to bag</a>
                    </div>
                </div>
                <div class="product-bottom">
                    <h6><a href="../product/{{ value.id }}" class="product-name" data-name="{{ value.name }}">{{ value.name }}</a></h6>
                    <span class="price" data-price="{{ value.price }}">{{ value.price }}</span>
                </div>
            </li>
            {% endfor %}
        </ul>
        <div class="centered">
            <a class="btn btn-big load-more" href="javascript:;">Load more</a>
        </div>
    </div>
</div>
{% include directory ~ '/footer.html.twig' %}
{{ attach_library('products/products') }}